body{
    background-color: #F8EACA;
}

h1{
    font-family:verdana; 
    box-align:center;
    font-weight:bold;
    font-size:50px;
}

p{
    font-family: verdana;
    box-align:center;
    font-size:20px;
}

h2{
    font-family:verdana;
    box-align:center;
    font-size:20px;
}